// active
.active- {
  &page {
    border-bottom: 1px solid $color-lightBrown;
    color: $color-lightBrown;
  }
}

// hover
.hover- {
  &page:hover {
    border-bottom: 1px solid $color-lightBrown;
    color: $color-lightBrown;
  }
  &nav:hover {
    color: $color-black;
  }
  &button- {
    &white:hover {
      border: $color-white 2px solid;
      color: $color-white;
    }
    &brown:hover {
      border: $color-brown 1px solid;
      background-color: $color-brown;
    }
    &product:hover {
      border: $color-brown 2px solid;
      background-color: $color-brown;
      color: $color-white;
    }
  }
}

// decoration
.decoration-none {
  text-decoration: none;
}

// menu-mb
.number::after {
  content: "3";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $color-brown;
  top: -4px;
  left: 12px;
  color: $color-white;
  font-size: 10px;
  text-align: center;
}

.pricePlus span::after {
  content: "NT$1580";
  color: $color-gray;
  text-decoration: line-through;
  position: absolute;
  left: 76px;
}

.promotion-list-3 .soldOut::before {
  content: "SoldOut";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 36px;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saleProduct p a:hover {
  color: $color-gray;
}
