// font
$size: 16px;

// color
$color-brown:#916019;
$color-lightBrown:#AC8A46;
$color-gray:#8D8D8D;
$color-lightGray:#E0E0E0;
$color-white:#FFFFFF;
$color-black:#000000;

// space
$space:1%;

// screen
$screen-xxl:1550px;
$screen-xl:1200px;
$screen-lg:992px;
$screen-md:768px;
$screen-sm:576px;
$screen-ss:375px;